In [57]:
import pandas as pd

codes = pd.read_csv('muni_codes.csv')
months = pd.read_csv('months.csv')

data = pd.read_csv('net_LandTitles.csv',low_memory=False, encoding='Latin-1', dtype={'MUNI_CODE':str})

data = data.merge(codes, how='left', on='MUNI_CODE')
data = data.merge(months, how='left', on='Month')

data = data[['LINC_NBR','TITLE_NBR','Year','MM','VALUE','Municipality']]
data.sort_values(by=['LINC_NBR','TITLE_NBR','Year','MM'], ascending=True, inplace=True)

print (list(data))
print (data.head())

['LINC_NBR', 'TITLE_NBR', 'Year', 'MM', 'VALUE', 'MUNI_CODE', 'Municipality']
          LINC_NBR    TITLE_NBR  Year    MM      VALUE MUNI_CODE Municipality
401960  10000032.0   92215298.0   9.0   6.0   319500.0        98    Edmonton
19864   10000058.0  162354191.0  16.0  12.0  1000000.0        98    Edmonton
110317  10000115.0  142063925.0  14.0   3.0   540000.0        98    Edmonton
567816  10000230.0  112291028.0  11.0   9.0   205000.0        98    Edmonton
442495  10000230.0  162104364.0  16.0   4.0   299000.0        98    Edmonton

In [66]:
data['YR_$D'] = data.groupby(['LINC_NBR'])['VALUE'].transform(lambda x: x.diff())
data['YR_%D'] = data.groupby(['LINC_NBR'])['VALUE'].transform(lambda x: x.pct_change())
data['TITLES'] = data.groupby(['Municipality'])['TITLE_NBR'].transform(lambda x: x.count())
print(data.head())

          LINC_NBR    TITLE_NBR  Year    MM      VALUE MUNI_CODE Municipality  \
401960  10000032.0   92215298.0   9.0   6.0   319500.0        98    Edmonton
19864   10000058.0  162354191.0  16.0  12.0  1000000.0        98    Edmonton
110317  10000115.0  142063925.0  14.0   3.0   540000.0        98    Edmonton
567816  10000230.0  112291028.0  11.0   9.0   205000.0        98    Edmonton
442495  10000230.0  162104364.0  16.0   4.0   299000.0        98    Edmonton

          YR_$D     YR_%D    TITLES  Muni_Dev
401960      NaN       NaN  232252.0  232252.0
19864       NaN       NaN  232252.0  232252.0
110317      NaN       NaN  232252.0  232252.0
567816      NaN       NaN  232252.0  232252.0
442495  94000.0  0.458537  232252.0  232252.0

In [61]:
data.to_csv('repeat_sales.csv',index=False)